head
   meta(name="viewport", content="width=device-width, initial-scale=1")
   link(rel="stylesheet", type= "text/css", href= "bootstrap.css")
   script(language="JavaScript" src="http://code.jquery.com/jquery-2.1.0.js")
   script(language="JavaScript" src="bootstrap.js")